In [1]:
import pyspark
import os
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, FloatType, TimestampType 
from pyspark.sql.functions import col, substring
from pyspark.sql.functions import col, asc,desc
from pyspark.sql.functions import countDistinct
from pyspark.sql.functions import to_date

In [2]:
spark = SparkSession.builder\
        .master("local[*]")\
        .appName('PySpark_Tutorial')\
        .getOrCreate()

23/01/12 12:56:07 WARN Utils: Your hostname, alena-VirtualBox resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
23/01/12 12:56:07 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/01/12 12:56:07 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
my_schema = StructType() \
      .add("departure",TimestampType (),True) \
      .add("return",TimestampType (),True) \
      .add("departure_id",StringType(),True) \
      .add("departure_name",StringType(),True) \
      .add("return_id",StringType(),True) \
      .add("return_name",StringType(),True) \
      .add("distance (m)",FloatType(),True) \
      .add("duration (sec.)",FloatType(),True) \
      .add("avg_speed (km/h)",FloatType(),True) \
      .add("departure_latitude",FloatType(),True) \
      .add("departure_longitude",FloatType(),True) \
      .add("return_latitude",FloatType(),True) \
      .add("return_longitude",FloatType(),True) \
      .add("Air temperature (degC)",FloatType(),True)

In [4]:
df_with_schema = spark.read.format("csv") \
      .option("header", True) \
      .schema(my_schema) \
      .load("database.csv")
df_with_schema.printSchema()

root
 |-- departure: timestamp (nullable = true)
 |-- return: timestamp (nullable = true)
 |-- departure_id: string (nullable = true)
 |-- departure_name: string (nullable = true)
 |-- return_id: string (nullable = true)
 |-- return_name: string (nullable = true)
 |-- distance (m): float (nullable = true)
 |-- duration (sec.): float (nullable = true)
 |-- avg_speed (km/h): float (nullable = true)
 |-- departure_latitude: float (nullable = true)
 |-- departure_longitude: float (nullable = true)
 |-- return_latitude: float (nullable = true)
 |-- return_longitude: float (nullable = true)
 |-- Air temperature (degC): float (nullable = true)

In [9]:
new_df = df_with_schema.withColumn("months", substring("departure", 1,7))
new_df.show(truncate=False)

+-------------------+-------------------+------------+------------------+---------+---------------------+------------+---------------+----------------+------------------+-------------------+---------------+----------------+----------------------+-------+
|departure          |return             |departure_id|departure_name    |return_id|return_name          |distance (m)|duration (sec.)|avg_speed (km/h)|departure_latitude|departure_longitude|return_latitude|return_longitude|Air temperature (degC)|months |
+-------------------+-------------------+------------+------------------+---------+---------------------+------------+---------------+----------------+------------------+-------------------+---------------+----------------+----------------------+-------+
|2020-03-23 06:09:44|2020-03-23 06:16:26|86          |Kuusitie          |111.0    |Esterinportti        |1747.0      |401.0          |0.2613965       |60.195244         |24.9019            |60.19757       |24.92678        |0.9                   |2020-03|
|2020-03-23 06:11:58|2020-03-23 06:26:31|26          |Kamppi (M)        |10.0     |Kasarmitori          |1447.0      |869.0          |0.09990794      |60.16861          |24.930538          |60.165016      |24.949472       |0.9                   |2020-03|
|2020-03-23 06:16:29|2020-03-23 06:24:23|268         |Porolahden koulu  |254.0    |Agnetankuja          |1772.0      |469.0          |0.22669509      |60.19554          |25.053581          |60.187233      |25.036413       |0.9                   |2020-03|
|2020-03-23 06:33:53|2020-03-23 07:14:03|751         |Vallipolku        |106.0    |Korppaanmäentie      |7456.0      |2406.0         |0.18593517      |60.227825         |24.819614          |60.203472      |24.89893        |0.9                   |2020-03|
|2020-03-23 06:36:09|2020-03-23 07:04:10|62          |Länsisatamankatu  |121.0    |Vilhonvuorenkatu     |7120.0      |1679.0         |0.25443718      |60.158928         |24.909693          |60.186462      |24.967873       |0.9                   |2020-03|
|2020-03-23 06:37:52|2020-03-23 06:58:56|108         |Radiokatu         |18.0     |Porthania            |5169.0      |1262.0         |0.24575277      |60.20499          |24.918419          |60.16986       |24.948147       |0.9                   |2020-03|
|2020-03-23 06:39:51|2020-03-23 06:45:30|64          |Tyynenmerenkatu   |6.0      |Hietalahdentori      |1194.0      |335.0          |0.21385075      |60.156837         |24.920662          |60.162224      |24.92971        |0.9                   |2020-03|
|2020-03-23 06:44:37|2020-03-24 12:02:19|30          |Itämerentori      |83.0     |Meilahden sairaala   |3651.0      |1195.0         |0.1833138       |60.163532         |24.914516          |60.19022       |24.908335       |0.9                   |2020-03|
|2020-03-23 06:47:18|2020-03-23 07:01:09|142         |Koskelantie       |126.0    |Kalasatama (M)       |3120.0      |827.0          |0.22636034      |60.208748         |24.946514          |60.187557      |24.977068       |0.9                   |2020-03|
|2020-03-23 06:47:22|2020-03-23 06:56:22|112         |Rautatieläisenkatu|204.0    |A.I. Virtasen aukio  |2070.0      |535.0          |0.23214953      |60.20144          |24.933271          |60.205578      |24.962152       |0.9                   |2020-03|
|2020-03-23 06:53:10|2020-03-23 07:00:38|37          |Töölönkatu        |19.0     |Rautatientori / itä  |1418.0      |447.0          |0.19033557      |60.17756          |24.928328          |60.170822      |24.942526       |0.9                   |2020-03|
|2020-03-23 06:53:59|2020-03-23 07:04:07|267         |Roihupelto        |262.0    |Siilitie (M)         |1404.0      |603.0          |0.13970149      |60.209286         |25.055529          |60.205963      |25.04516        |0.9                   |2020-03|
|2020-03-23 06:55:12|2020-03-23 14:46:02|121         |Vilhonvuorenkatu  |40.0     |Hakaniemi (M)        |1272.0      |469.0          |0.1627292       |60.186462         |24.967873          |60.17811       |24.95218        |0.9                   |2020-03|
|2020-03-23 06:55:30|2020-03-23 07:09:42|62          |Länsisatamankatu  |74.0     |Rajasaarentie        |2727.0      |850.0          |0.19249412      |60.158928         |24.909693          |60.183136      |24.911127       |0.9                   |2020-03|
|2020-03-23 06:56:44|2020-03-23 07:06:28|123         |Näkinsilta        |19.0     |Rautatientori / itä  |1615.0      |579.0          |0.16735752      |60.179764         |24.955462          |60.170822      |24.942526       |0.9                   |2020-03|
|2020-03-23 06:57:41|2020-03-23 07:13:49|23          |Kiasma            |126.0    |Kalasatama (M)       |0.0         |963.0          |0.0             |60.171257         |24.937428          |60.187557      |24.977068       |0.9                   |2020-03|
|2020-03-23 06:58:24|2020-03-23 07:04:37|14          |Senaatintori      |22.0     |Rautatientori / länsi|824.0       |368.0          |0.13434783      |60.16913          |24.95264           |60.170605      |24.93976        |0.9                   |2020-03|
|2020-03-23 07:02:19|2020-03-24 12:01:52|76          |Olympiastadion    |83.0     |Meilahden sairaala   |1359.0      |538.0          |0.15156133      |60.184505         |24.924974          |60.19022       |24.908335       |1.1                   |2020-03|
|2020-03-23 07:04:04|2020-03-23 07:11:05|89          |Tilkanvierto      |111.0    |Esterinportti        |1688.0      |414.0          |0.24463768      |60.197533         |24.899261          |60.19757       |24.92678        |1.1                   |2020-03|
|2020-03-23 07:04:36|2020-03-23 07:31:01|121         |Vilhonvuorenkatu  |121.0    |Vilhonvuorenkatu     |6480.0      |1583.0         |0.2456096       |60.186462         |24.967873          |60.186462      |24.967873       |1.1                   |2020-03|
+-------------------+-------------------+------------+------------------+---------+---------------------+------------+---------------+----------------+------------------+-------------------+---------------+----------------+----------------------+-------+
only showing top 20 rows

In [6]:
month = new_df.select("months").distinct().collect()
print(month)

[Row(months='2020-06'), Row(months='2020-05'), Row(months='2020-03'), Row(months='2020-04'), Row(months='2020-07'), Row(months='2020-08'), Row(months='2019-04'), Row(months='2020-09'), Row(months='2020-10'), Row(months='2019-05'), Row(months='2019-07'), Row(months='2019-06'), Row(months='2019-08'), Row(months='2019-09'), Row(months='2019-10'), Row(months='2018-05'), Row(months='2018-04'), Row(months='2018-06'), Row(months='2018-08'), Row(months='2018-07'), Row(months='2018-09'), Row(months='2018-10'), Row(months='2017-05'), Row(months='2016-09'), Row(months='2016-10'), Row(months='2016-05'), Row(months='2016-07'), Row(months='2016-06'), Row(months='2016-08'), Row(months='2017-08'), Row(months='2017-06'), Row(months='2017-07'), Row(months='2017-09'), Row(months='2017-10')]

In [7]:
#creating new csv files
new_df.repartition("months").write.partitionBy("months").format("com.databricks.spark.csv").option("header",True).mode('append').save("data/months")

In [8]:
#IMPORTANT NOTE! Please don't forget to delete success files manually
#creating coherent names for csv files months=year_month

path = '/home/alena/Data/Localstack/data/months'
subdirs = os.listdir('/home/alena/Data/Localstack/data/months')
for subdir in subdirs:
    files = os.listdir(os.path.join(path, subdir))
    for file in files:
        file_extension = [x for x in os.path.splitext(file)]
        filepath = os.path.join(path,subdir)
        if file_extension[1] == '.csv':
            os.rename(os.path.join(filepath, file), os.path.join(filepath, f"{subdir}"))

In [10]:
#Метрика которая будет группировать сколько раз брали на одной станции (departure_name)
table1 = new_df.groupBy("departure_name").count().withColumnRenamed("count","count_taken")

In [11]:
#Метрика которая будет группировать сколько раз вернули на одной станции (return_name)
table2 = new_df.groupBy("return_name").count().withColumnRenamed("count","count_returned")

In [12]:
#result_table = table1.join(table2,table1["departure_name"] == table2["return_name"])
result_table = table1.join(table2,table1["departure_name"] == table2["return_name"]).select('departure_name', 'count_taken', 'count_returned')
result_table.show()

+--------------------+-----------+--------------+
|      departure_name|count_taken|count_returned|
+--------------------+-----------+--------------+
|         Olarinluoma|       7047|          8163|
|          Marjaniemi|       2882|          2985|
|      Diakoniapuisto|     112022|        100651|
|      Eteläesplanadi|      77197|         83746|
|          Länsituuli|      34177|         33464|
|   Pitäjänmäen asema|       8522|          8100|
|   Vanha Kauppahalli|      31638|         33020|
|            Kuunkatu|      14031|         13405|
|         Puotinharju|       6160|          6123|
|     Herttoniemi (M)|      30771|         30040|
|  Viikin tiedepuisto|      21728|         21896|
|Laivalahden puist...|      11519|         12043|
|             Tietäjä|       9411|          8795|
|     Kirkkoherrantie|       4530|          4372|
|       Revontulentie|      13357|         13163|
|      Siltavoudintie|       4438|          4333|
|            Narinkka|     122355|        121614|
| Töölönlahden puisto|      73046|         72823|
|             Ooppera|     132246|        134089|
|      Gebhardinaukio|      41636|         39224|
+--------------------+-----------+--------------+
only showing top 20 rows